/* VARIABLES */
:root {
    --unit-maxwidth-text: 35em;
    --unit-line-height: 1.5em;
    --unit-font-large: 3rem;
}

/* BODY AND LAYOUT */
@media (min-width: 1000px) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 1000px) {
    body.about main, body.project-page main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--unit-line-height);
    }

    img.illo {
        margin: 0 auto;
    }
    
}

@media (max-width: 1000px) {
    body>header {
        margin-bottom: calc(2*var(--unit-line-height));
    }
}

/* FOOTER */
@media (min-width: 1000px) {
    footer {
        grid-template-columns: repeat(4, 1fr);
    }

    footer div:last-child {
        grid-column-start: 3;
    }
}