@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300;400;500&display=swap');

/* VARIABLES */
:root {
    --unit-maxwidth-text: 35em;
    --unit-line-height: 1.5em;
    --unit-font-large: 3rem;
}

/* BODY AND LAYOUT */
* {
    box-sizing: border-box;
}

html {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: var(--unit-line-height);
    margin: 0;
}

body {
    background-color: #fff;
    color: #8f8a80;
    transition: background-color 0.6s ease;
    margin: 0 calc(1*var(--unit-line-height));
}

main {
    min-height: calc(100vh - 19*var(--unit-line-height));
}

main svg,
main img {
    width: 100%;
}

img.illo {
    display: block;
    margin: calc(2*var(--unit-line-height)) auto;
    width: 80%;
    max-width: 35em;
}

img.dim {
    filter: brightness(0.95);
}

/* TYPOGRAPHY */
h1,
h2 {
    font-weight: 400;
}

h1 {
    font-size: var(--unit-font-large);
    margin: 0 0 calc(1*var(--unit-line-height));
    letter-spacing: 0;
}

h2 {
    font-size: 1rem;
    margin: calc(1*var(--unit-line-height)) 0 0;
    color: #fff;
}

a {
    color: #8f8a80;
    transition: opacity 0.3s ease;
    text-decoration: none;
}

a.action {
    border: none;
}

a.action:after {
    display: inline-block;
    margin-left: 0.6em;
    content: '\2192';
    font-size: 76%;
}

p {
    margin: 0 0 1rem;
    max-width: var(--unit-maxwidth-text);
}

p a,
li a {
    border-bottom: 1px solid #ccd;
}

a:hover {
    opacity: 0.5;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li.gap {
    margin-top: var(--unit-line-height);
}


/* NAVIGATION HEADER */
body>header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--unit-line-height);
    margin-bottom: calc(4*var(--unit-line-height));
    line-height: var(--unit-line-height);
    padding-top: var(--unit-line-height);
}

body>header svg {
    width: 4rem;
    display: block;
}

body>header svg path {
    fill: #423E37;
}

a.logo {
    width: 4rem;
}

/* FOOTER */
footer {
    line-height: var(--unit-line-height);
    display: grid;
    grid-gap: var(--unit-line-height);
    grid-template-columns: repeat(2, 1fr);
    padding-top: calc(4*var(--unit-line-height));
    padding-bottom: var(--unit-line-height);
}

footer>div:first-child,
footer>div:last-child {
    grid-column: 1 / span 2;
}

footer div.socials-container {
    display: flex;
    justify-content: left;
    gap: 0.1rem;
}

footer svg {
    cursor: pointer;
    height: 2rem;
    fill: #8f8a80;
}

/* ABOUT */
.about {
    background-color: #E3E1DA;
    color: #423E37;
}

.about a {
    color: #423E37;
}

body.about svg.illo {
    max-width: 28em;
}

body.about svg path {
    fill: #423E37;
}

body.about h2 {
    color: #8f8a80;
}

/* PROJECTS */

/* INDIVIDUAL PROJECT */
.project-page {
    background-color: #fff;
    color: #8f8a80;
}
